In [1]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the read-only "../input/" directory
# # For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# import os
# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

# # You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# # You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Import Libraries

In [2]:
#Install Required Libraries
# !pip install numpy pandas torch torchvision

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder

import torch
import torchvision

# Import Dataset

In [4]:
train_df = pd.read_csv('./Data/training.csv')
test_df = pd.read_csv('./Data/test.csv')

In [5]:
# Create copies of the original DataFrames
df = train_df.copy()
df_t = test_df.copy()

# Data Exploration

In [6]:
df.head()# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

First few rows of the dataset:
   patient_id patient_race  payer_type patient_state  patient_zip3  \
0      475714          NaN    MEDICAID            CA           924
1      349367        White  COMMERCIAL            CA           928
2      138632        White  COMMERCIAL            TX           760
3      617843        White  COMMERCIAL            CA           926
4      817482          NaN  COMMERCIAL            ID           836

   patient_age patient_gender    bmi breast_cancer_diagnosis_code  \
0           84              F    NaN                       C50919
1           62              F  28.49                       C50411
2           43              F  38.09                       C50112
3           45              F    NaN                       C50212
4           55              F    NaN                         1749

                        breast_cancer_diagnosis_desc  ...   disabled  \
0  Malignant neoplasm of unsp site of unspecified...  ...  12.871429
1  Malig neoplm of upper-outer quadrant of right ...  ...   8.957576
2  Malignant neoplasm of central portion of left ...  ...  11.253333
3  Malig neoplasm of upper-inner quadrant of left...  ...   8.845238
4  Malignant neoplasm of breast (female), unspeci...  ...  15.276000

     poverty limited_english commute_time health_uninsured    veteran  \
0  22.542857       10.100000    27.814286        11.200000   3.500000
1  10.109091        8.057576    30.606061         7.018182   4.103030
2   9.663333        3.356667    31.394915        15.066667   7.446667
3   8.688095        5.280952    27.561905         4.404762   4.809524
4  11.224000        1.946000    26.170213        12.088000  13.106000

       Ozone      PM25        N02  DiagPeriodL90D
0  52.237210  8.650555  18.606528               1
1  42.301121  8.487175  20.113179               1
2  40.108207  7.642753  14.839351               1
3  42.070075  7.229393  15.894123               0
4  41.356058  4.110749  11.722197               0

[5 rows x 83 columns]

In [7]:
# Summary statistics of the numerical columns
print("\nSummary statistics of numerical columns:")
print(df.describe())

Summary statistics of numerical columns:
          patient_id  patient_zip3   patient_age          bmi    population  \
count   12906.000000  12906.000000  12906.000000  3941.000000  12905.000000
mean   547381.196033    573.754300     59.183326    28.984539  20744.441237
std    260404.959974    275.447534     13.335216     5.696906  13886.903756
min    100063.000000    101.000000     18.000000    14.000000    635.545455
25%    321517.000000    331.000000     50.000000    24.660000   9463.896552
50%    543522.000000    554.000000     59.000000    28.190000  19154.190480
75%    772671.750000    846.000000     67.000000    32.920000  30021.278690
max    999896.000000    999.000000     91.000000    85.000000  71374.131580

            density    age_median  age_under_10  age_10_to_19       age_20s  \
count  12905.000000  12905.000000  12905.000000  12905.000000  12905.000000
mean    1581.950419     40.502259     11.122784     12.945265     13.290376
std     2966.305306      4.036963      1.512376      1.923974      3.354103
min        0.916667     20.600000      0.000000      6.314286      5.925000
25%      171.857143     37.129825     10.160000     11.741176     11.013415
50%      700.337500     40.639344     11.039216     12.923944     12.538095
75%     1666.515385     42.934783     12.190000     14.019767     14.971053
max    21172.000000     54.570000     17.675000     35.300000     62.100000

       ...      disabled       poverty  limited_english  commute_time  \
count  ...  12905.000000  12902.000000     12902.000000  12905.000000
mean   ...     13.335299     13.406950         4.474956     27.978387
std    ...      3.690949      5.222495         4.837085      5.083939
min    ...      4.600000      3.433333         0.000000     12.460784
25%    ...     10.270492      9.663333         0.994444     24.933333
50%    ...     12.884000     12.177778         2.747222     27.788235
75%    ...     15.555405     16.635556         5.976000     30.709375
max    ...     35.155556     38.347826        26.755000     48.020000

       health_uninsured       veteran         Ozone          PM25  \
count      12905.000000  12905.000000  12877.000000  12877.000000
mean           8.575284      7.083376     39.822352      7.475221
std            4.203482      3.109022      3.559492      1.516499
min            2.440000      1.200000     30.939316      2.636008
25%            5.618750      4.929688     37.698880      6.651215
50%            7.465714      6.847059     39.108249      7.686577
75%           10.617442      8.620000     41.136513      8.276922
max           27.566102     25.200000     52.237210     11.169408

                N02  DiagPeriodL90D
count  12877.000000    12906.000000
mean      16.098988        0.624516
std        5.842501        0.484266
min        2.760371        0.000000
25%       11.280694        0.000000
50%       15.589148        1.000000
75%       20.801880        1.000000
max       31.504775        1.000000

[8 rows x 72 columns]

In [8]:
# Information about the dataset, including data types and missing values
print("\nInformation about the dataset:")
print(df.info())

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12906 entries, 0 to 12905
Data columns (total 83 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   patient_id                             12906 non-null  int64
 1   patient_race                           6521 non-null   object
 2   payer_type                             11103 non-null  object
 3   patient_state                          12855 non-null  object
 4   patient_zip3                           12906 non-null  int64
 5   patient_age                            12906 non-null  int64
 6   patient_gender                         12906 non-null  object
 7   bmi                                    3941 non-null   float64
 8   breast_cancer_diagnosis_code           12906 non-null  object
 9   breast_cancer_diagnosis_desc           12906 non-null  object
 10  metastatic_cancer_diagnosis_code       12906 non-null  object
 11  metastatic_first_novel_treatment       24 non-null     object
 12  metastatic_first_novel_treatment_type  24 non-null     object
 13  Region                                 12854 non-null  object
 14  Division                               12854 non-null  object
 15  population                             12905 non-null  float64
 16  density                                12905 non-null  float64
 17  age_median                             12905 non-null  float64
 18  age_under_10                           12905 non-null  float64
 19  age_10_to_19                           12905 non-null  float64
 20  age_20s                                12905 non-null  float64
 21  age_30s                                12905 non-null  float64
 22  age_40s                                12905 non-null  float64
 23  age_50s                                12905 non-null  float64
 24  age_60s                                12905 non-null  float64
 25  age_70s                                12905 non-null  float64
 26  age_over_80                            12905 non-null  float64
 27  male                                   12905 non-null  float64
 28  female                                 12905 non-null  float64
 29  married                                12905 non-null  float64
 30  divorced                               12905 non-null  float64
 31  never_married                          12905 non-null  float64
 32  widowed                                12905 non-null  float64
 33  family_size                            12902 non-null  float64
 34  family_dual_income                     12902 non-null  float64
 35  income_household_median                12902 non-null  float64
 36  income_household_under_5               12902 non-null  float64
 37  income_household_5_to_10               12902 non-null  float64
 38  income_household_10_to_15              12902 non-null  float64
 39  income_household_15_to_20              12902 non-null  float64
 40  income_household_20_to_25              12902 non-null  float64
 41  income_household_25_to_35              12902 non-null  float64
 42  income_household_35_to_50              12902 non-null  float64
 43  income_household_50_to_75              12902 non-null  float64
 44  income_household_75_to_100             12902 non-null  float64
 45  income_household_100_to_150            12902 non-null  float64
 46  income_household_150_over              12902 non-null  float64
 47  income_household_six_figure            12902 non-null  float64
 48  income_individual_median               12905 non-null  float64
 49  home_ownership                         12902 non-null  float64
 50  housing_units                          12905 non-null  float64
 51  home_value                             12902 non-null  float64
 52  rent_median                            12902 non-null  float64
 53  rent_burden                            12902 non-null  float64
 54  education_less_highschool              12905 non-null  float64
 55  education_highschool                   12905 non-null  float64
 56  education_some_college                 12905 non-null  float64
 57  education_bachelors                    12905 non-null  float64
 58  education_graduate                     12905 non-null  float64
 59  education_college_or_above             12905 non-null  float64
 60  education_stem_degree                  12905 non-null  float64
 61  labor_force_participation              12905 non-null  float64
 62  unemployment_rate                      12905 non-null  float64
 63  self_employed                          12902 non-null  float64
 64  farmer                                 12902 non-null  float64
 65  race_white                             12905 non-null  float64
 66  race_black                             12905 non-null  float64
 67  race_asian                             12905 non-null  float64
 68  race_native                            12905 non-null  float64
 69  race_pacific                           12905 non-null  float64
 70  race_other                             12905 non-null  float64
 71  race_multiple                          12905 non-null  float64
 72  hispanic                               12905 non-null  float64
 73  disabled                               12905 non-null  float64
 74  poverty                                12902 non-null  float64
 75  limited_english                        12902 non-null  float64
 76  commute_time                           12905 non-null  float64
 77  health_uninsured                       12905 non-null  float64
 78  veteran                                12905 non-null  float64
 79  Ozone                                  12877 non-null  float64
 80  PM25                                   12877 non-null  float64
 81  N02                                    12877 non-null  float64
 82  DiagPeriodL90D                         12906 non-null  int64
dtypes: float64(68), int64(4), object(11)
memory usage: 8.2+ MB
None

In [9]:
# Check for missing values in each column
print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
patient_id           0
patient_race      6385
payer_type        1803
patient_state       51
patient_zip3         0
                  ...
veteran              1
Ozone               29
PM25                29
N02                 29
DiagPeriodL90D       0
Length: 83, dtype: int64

In [10]:
# Unique values in each column
print("\nUnique values in each column:")
for column in df.columns:
    print(f"{column}: {df[column].nunique()} unique values")

Unique values in each column:
patient_id: 12906 unique values
patient_race: 5 unique values
payer_type: 3 unique values
patient_state: 50 unique values
patient_zip3: 739 unique values
patient_age: 67 unique values
patient_gender: 1 unique values
bmi: 1342 unique values
breast_cancer_diagnosis_code: 50 unique values
breast_cancer_diagnosis_desc: 50 unique values
metastatic_cancer_diagnosis_code: 43 unique values
metastatic_first_novel_treatment: 2 unique values
metastatic_first_novel_treatment_type: 1 unique values
Region: 4 unique values
Division: 9 unique values
population: 738 unique values
density: 738 unique values
age_median: 728 unique values
age_under_10: 718 unique values
age_10_to_19: 725 unique values
age_20s: 724 unique values
age_30s: 725 unique values
age_40s: 715 unique values
age_50s: 720 unique values
age_60s: 725 unique values
age_70s: 720 unique values
age_over_80: 706 unique values
male: 722 unique values
female: 724 unique values
married: 732 unique values
divorced: 718 unique values
never_married: 736 unique values
widowed: 719 unique values
family_size: 716 unique values
family_dual_income: 731 unique values
income_household_median: 737 unique values
income_household_under_5: 712 unique values
income_household_5_to_10: 708 unique values
income_household_10_to_15: 716 unique values
income_household_15_to_20: 710 unique values
income_household_20_to_25: 716 unique values
income_household_25_to_35: 720 unique values
income_household_35_to_50: 721 unique values
income_household_50_to_75: 725 unique values
income_household_75_to_100: 714 unique values
income_household_100_to_150: 725 unique values
income_household_150_over: 734 unique values
income_household_six_figure: 734 unique values
income_individual_median: 738 unique values
home_ownership: 737 unique values
housing_units: 738 unique values
home_value: 737 unique values
rent_median: 736 unique values
rent_burden: 725 unique values
education_less_highschool: 728 unique values
education_highschool: 732 unique values
education_some_college: 731 unique values
education_bachelors: 734 unique values
education_graduate: 732 unique values
education_college_or_above: 737 unique values
education_stem_degree: 729 unique values
labor_force_participation: 733 unique values
unemployment_rate: 714 unique values
self_employed: 725 unique values
farmer: 657 unique values
race_white: 735 unique values
race_black: 732 unique values
race_asian: 718 unique values
race_native: 655 unique values
race_pacific: 506 unique values
race_other: 713 unique values
race_multiple: 730 unique values
hispanic: 733 unique values
disabled: 727 unique values
poverty: 731 unique values
limited_english: 715 unique values
commute_time: 733 unique values
health_uninsured: 727 unique values
veteran: 727 unique values
Ozone: 733 unique values
PM25: 733 unique values
N02: 733 unique values
DiagPeriodL90D: 2 unique values

## Check For Duplicates

In [11]:
# Check for duplicates in the training dataset
train_duplicates = df[df.duplicated()]

# No Duplicates Found
# print("Duplicate rows in training dataset:")
# print(train_duplicates)

# Print the shape of the training dataset before removing duplicates
print("\nShape of training dataset before removing duplicates:", df.shape)

# Remove duplicates in the training dataset and keep the first occurrence
df = df.drop_duplicates()

# Print the shape of the training dataset after removing duplicates
print("Shape of training dataset after removing duplicates:", df.shape)

Shape of training dataset before removing duplicates: (12906, 83)
Shape of training dataset after removing duplicates: (12906, 83)

# Feature Exploration and Engineering

In [37]:
selected_columns = ['patient_zip3', 'population', 'density', 'age_median', 'male', 'female']
df_temp = df[selected_columns]
print(df_temp.info())
df_temp.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12906 entries, 0 to 12905
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_zip3  12906 non-null  int64
 1   population    12905 non-null  float64
 2   density       12905 non-null  float64
 3   age_median    12905 non-null  float64
 4   male          12905 non-null  float64
 5   female        12905 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 605.1 KB
None

,patient_zip3,population,density,age_median,male,female
count,12906.000000,12905.000000,12905.000000,12905.000000,12905.000000,12905.000000
mean,573.754300,20744.441237,1581.950419,40.502259,50.095180,49.904900
std,275.447534,13886.903756,2966.305306,4.036963,1.656640,1.656594
min,101.000000,635.545455,0.916667,20.600000,39.725000,38.400000
25%,331.000000,9463.896552,171.857143,37.129825,49.158333,49.062069
50%,554.000000,19154.190480,700.337500,40.639344,49.976042,50.023958
75%,846.000000,30021.278690,1666.515385,42.934783,50.937931,50.841667
max,999.000000,71374.131580,21172.000000,54.570000,61.600000,60.275000

In [13]:
c = 0
c1 = 0
for i in df_temp['breast_cancer_diagnosis_desc']:
    if 'Malig' in i:
        c+=1
    else:
        c1+=1
        
print(c)
print(c1)
# print(df_temp['breast_cancer_diagnosis_desc'][:100])

12897
9

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

max_features=100

# Create a TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=max_features, stop_words='english')

# Transform diagnosis descriptions into TF-IDF vectors
X_tfidf = tfidf_vectorizer.fit_transform(df['breast_cancer_diagnosis_desc'])

print(X_tfidf[0])

  (0, 2)	0.2373051764245159
  (0, 4)	0.2376363513440987
  (0, 26)	0.4527332302816953
  (0, 21)	0.4613661681585082
  (0, 25)	0.5516031913570816
  (0, 11)	0.26879612779577944
  (0, 10)	0.3047485189563812